<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Babette">
  <link href="assets/images/favicon/favicon.png" rel="icon">
  <title>About Us | Stratcom UG</title>
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Rubik:400,500,700%7cShadows+Into+Light&display=swap">
  <link rel="stylesheet" href="{% static 'css/libraries.css' %}" />
  <link rel="stylesheet" href="{% static 'css/style.css' %}" />

  <style>
    .logo-light {
      max-width: 30%;
      height: auto;
    }

    .logo-dark {
      max-width: 30%;
      height: auto;
    }
  </style>


</head>

<body>
  <div class="wrapper">
    <!-- =========================
        Header
    =========================== -->
    <header id="header" class="header header-transparent header-layout1">
      <nav class="navbar navbar-expand-lg sticky-navbar">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="{% static 'images/StratcomLogoRemoved.png'  %}" class="logo-light" alt="logo">
            <img src="{% static 'images/StratcomLogoRemoved.png'  %}" class="logo-dark" alt="logo">
          </a>
          <button class="navbar-toggler" type="button">
            <span class="menu-lines"><span></span></span>
          </button>
          <div class="collapse navbar-collapse" id="mainNavigation">
            <ul class="navbar-nav ml-auto">
              <li class="nav__item with-dropdown">
                <a href="/" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Home</a>
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link active">About</a>
                <ul class="dropdown-menu">
                  <li class="nav__item"><a href="/aboutus" class="nav__item-link">About Us</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="/ourteam" class="nav__item-link">Our Team</a></li>
                  <!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Events</a>
                <ul class="dropdown-menu">
                  <li class="nav__item"><a href="/upcomingevents" class="nav__item-link">Upcoming Events</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="/pastevents" class="nav__item-link">Past Events</a></li>
                  <!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Gallery</a>
                <ul class="dropdown-menu">
                  <li class="nav__item"><a href="/galleryfullwidth" class="nav__item-link">Gallery Full Width</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="/gallerygrid" class="nav__item-link">Gallery Grid</a>
                  </li><!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Our Courses</a>
                <ul class="dropdown-menu">

                  <li class="nav__item dropdown-submenu">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Coding</a>
                    <ul class="dropdown-menu">
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Morning Class</a>
                      </li><!-- /.nav-item -->
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Afternoon Class</a>
                      </li><!-- /.nav-item -->
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Evening Class</a>
                      </li><!-- /.nav-item -->
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Weekend Class</a>
                      </li><!-- /.nav-item -->
                    </ul><!-- /.dropdown-menu -->
                  </li><!-- /.nav-item -->

                  <li class="nav__item dropdown-submenu">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">CISCO Networking</a>
                    <ul class="dropdown-menu">
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Morning Class</a>
                      </li><!-- /.nav-item -->
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Afternoon Class</a>
                      </li><!-- /.nav-item -->
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Evening Class</a>
                      </li><!-- /.nav-item -->
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Weekend Class</a>
                      </li><!-- /.nav-item -->
                    </ul><!-- /.dropdown-menu -->
                  </li><!-- /.nav-item -->

                  <li class="nav__item dropdown-submenu">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">PC Repair</a>
                    <ul class="dropdown-menu">
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Evening Class</a>
                      </li><!-- /.nav-item -->
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Weekend Class</a>
                      </li><!-- /.nav-item -->
                    </ul><!-- /.dropdown-menu -->
                  </li><!-- /.nav-item -->

                  <li class="nav__item dropdown-submenu">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Embedded Systems</a>
                    <ul class="dropdown-menu">
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Morning Class</a>
                      </li><!-- /.nav-item -->
                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Afternoon Class</a>
                      </li><!-- /.nav-item -->
                    </ul><!-- /.dropdown-menu -->
                  </li><!-- /.nav-item -->

                  <li class="nav__item dropdown-submenu">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Application
                      Development</a>
                    <ul class="dropdown-menu">

                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Afternoon Class</a>
                      </li><!-- /.nav-item -->

                      <li class="nav__item">
                        <a href="/ourcourses" class="nav__item-link">Weekend Class</a>
                      </li><!-- /.nav-item -->
                    </ul><!-- /.dropdown-menu -->
                  </li><!-- /.nav-item -->
                </ul><!-- /.dropdown-menu -->
              </li><!-- /.nav-item -->
              <li class="nav__item with-dropdown">
                <a href="#" data-toggle="dropdown" class="dropdown-toggle nav__item-link">Contact Us</a>
                <ul class="dropdown-menu">
                  <li class="nav__item"><a class="nav__item-link" onclick="call()">Direct Call</a></li>
                  <!-- /.nav-item -->
                  <li class="nav__item"><a href="mailto:stuartmcarthy@gmail.com" class="nav__item-link">Send Email</a>
                  </li>
                  <!-- /.nav-item -->


              </li><!-- /.nav-item -->
              <!-- /.nav-item -->
            </ul><!-- /.navbar-nav -->
          </div><!-- /.navbar-collapse -->
          <div class="navbar-actions-wrap">
            <div class="navbar-actions d-flex align-items-center">
              <a href="#" class="navbar__action-btn search-popup-trigger"><i class="fa fa-search"></i></a>
              <a href="#" class="navbar__action-btn navbar__action-btn-reserve btn btn__primary" onclick="apply()">Apply
                For Internship</a>
              <!-- <ul class="social__icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>

              </ul> -->
              <!-- /.social__icons -->
              <!--               
              <div style="float: right;">
                <a href="#" class=" btn__primary" style="padding-right: 10px;"><i class="fa fa-user"></i></a>
              </div> -->

              <div class="testimonial__thumb">
                <a href="/userprofile"><img src="{% static 'images/girl-camera-portrait-model.jpg' %}"
                    alt="author thumb"></a>
              </div>

            </div><!-- /.navbar-actions -->
          </div><!-- /.navbar-actions-wrap -->
        </div><!-- /.container -->
      </nav><!-- /.navabr -->
    </header><!-- /.Header -->


    <!-- ========================
       page title 
    =========================== -->
    <section id="page-title" class="page-title page-title-layout1 text-center bg-overlay bg-overlay-2 bg-parallax">
      <div class="bg-img"><img src="{% static 'images/Team3.webp' %}" alt="background"></div>

      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12">
            <span class="pagetitle__subheading">Stratcom Uganda</span>
            <h1 class="pagetitle__heading">This is Us</h1>
          </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.page-title -->

    <!-- ======================
      Blog Single
    ========================= -->
    <section id="blogSingleRightSidebar" class="blog blog-single pb-50">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-8">
            <div class="post-item">
              <div class="post__content">
                <div class="post__desc">
                  <p>
                    The word Stratcom comes from a latin word 'Strata' and the English word 'Computer'.
                    <br>
                    Strata means fast and a Computer is obviously known to everyone.
                    <br>
                    So Stratcom is a place
                    where Computer skills are taught and instilled into people of all ages in a record period of time.
                  </p>

                  <p>
                    That being said, Stratcom has a good reputation, experienced lecturers and also a conducive
                    environment.

                    <br>
                    There is also free breakfast and a restaurant in case an intern feels the need to eat again
                    later during the day.
                  </p>
                  <div class="post__img">
                    <a href="#">
                      <img src="{% static 'images/Stratcom1.jpg' %}" alt="post image">
                    </a>
                  </div><!-- /.post-img -->
                  <p>
                    Stratcom also offers a wide range of study times,for those that study during weekdays, one can
                    choose morning (8:00am-12:pm) or afternoon
                    (12:00pm-4:00pm) or even evening (5:00pm-9:00pm) while those that study over the weekend study from
                    morning till evening
                    only twice a week (on the weekends).
                  </p>

                  <p>
                    There is also free breakfast and a restaurant in case an intern feels the need to eat again
                    later during the day.
                  </p>
                  <p>
                    Stratcom also offers a wide range of study times,for those that study during weekdays, one can
                    choose morning (8:00am-12:pm) or afternoon
                    (12:00pm-4:00pm) or even evening (5:00pm-9:00pm) while those that study over the weekend study from
                    morning till evening
                    only twice a week (on the weekends)
                  </p>
                </div><!-- /.post-desc -->
              </div><!-- /.post-content -->
            </div><!-- /.post-item -->
            <div class="widget-tags mb-40">
              <ul class="list-unstyled">
                <li><a href="#">Flexible</a></li>
                <li><a href="#">Affordable</a></li>
                <li><a href="#">Modern</a></li>
                <li><a href="#">Corporate</a></li>
                <li><a href="#">Skilled</a></li>
              </ul>
            </div>
            <div class="blog-share mb-40">
              <h5 class="post__share-title">Share:</h5>
              <ul class="social__icons">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              </ul>
            </div><!-- /.post-share -->
            <div class="blog-widget blog-author">
              <div class="blog__author-avatar">
                <img src="{% static 'images/person4.jpg' %}" alt="avatar">
              </div><!-- /.author-avatar  -->
              <div class="blog__author-content">
                <p class="blog__author-bio">
                  Stratcom is good I tell you.
                </p>
                <ul class="social__icons">
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-pintrest"></i></a></li>
                </ul>
              </div><!-- /.author-content  -->
            </div><!-- /.post-author  -->
            <div class="blog-widget blog-comments">
              <h5 class="blog__widget-title">Comments</h5>
              <ul class="comments-list list-unstyled mb-0">
                <li class="comment__item">
                  <div class="comment__avatar">
                    <img src="{% static 'images/Person8.jpg' %}" alt="avatar">
                  </div>
                  <div class="comment__content">
                    <h6 class="comment__author">Sssegawa Arnold</h6>
                    <span class="comment__date">Mar 20, 2021 - 08:07 pm</span>
                    <p class="comment__desc">
                      These guys are extremely good I tell you!!!
                    </p>
                    <a class="comment__reply" href="#">reply</a>
                  </div>
                </li><!-- /.comment -->
                <li class="comment__item">
                  <div class="comment__avatar">
                    <img src="{% static 'images/ProfilePic1.jpg' %}" alt="avatar">
                  </div>
                  <div class="comment__content">
                    <h6 class="comment__author">Sentamu Ivan</h6>
                    <span class="comment__date">Dec 28, 2021 - 03:28 pm</span>
                    <p class="comment__desc">
                      Stratcom also offers a wide range of study times,for those that study during weekdays, one can
                      choose morning (8:00am-12:pm) or afternoon
                      (12:00pm-4:00pm) or even evening (5:00pm-9:00pm) while those that study over the weekend study
                      from morning till evening
                      only twice a week (on the weekends)
                    </p>
                    <a class="comment__reply" href="#">reply</a>
                  </div>
                </li><!-- /.comment -->
              </ul><!-- /.comments-list -->
            </div><!-- /.post-comments -->
            <div class="blog-widget blog-comments-form">
              <h5 class="blog__widget-title">Join The Conversation</h5>
              <form>
                <div class="row">
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="First Name:">
                    </div><!-- /.form-group -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Last Name:">
                    </div><!-- /.form-group -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-12 col-md-4 col-lg-4">
                    <div class="form-group">
                      <input type="email" class="form-control" placeholder="Email:">
                    </div><!-- /.form-group -->
                  </div><!-- /.col-lg-6 -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <div class="form-group">
                      <textarea class="form-control" placeholder="Comment"></textarea>
                    </div><!-- /.form-group -->
                  </div><!-- /.col-lg-12 -->
                  <div class="col-sm-12 col-md-12 col-lg-12">
                    <button type="submit" class="btn btn__primary btn__block">Submit Comment</button>
                  </div><!-- /.col-lg-12 -->
                </div><!-- /.row -->
              </form>
            </div><!-- /.post-comments-form -->
          </div><!-- /.col-lg-8 -->
          <div class="col-sm-12 col-md-12 col-lg-4">
            <aside class="sidebar">
              <div class="widget widget-search">
                <h5 class="widget__title">Search</h5>
                <div class="widget__content">
                  <form class="widget__form-search">
                    <input type="text" class="form-control" placeholder="Type and hit enter ...">
                    <button class="btn" type="submit"><i class="fa fa-search"></i></button>
                  </form>
                </div><!-- /.widget-content -->
              </div><!-- /.widget-search -->
              <div class="widget widget-categories">
                <h5 class="widget__title">Practical Courses</h5>
                <div class="widget-content">
                  <ul class="list-unstyled mb-0">
                    <li><a href="#"> Coding<span>(4 Weeks)</span></a></li>
                    <li><a href="#">Networking <span>(4 Weeks)</span></a></li>
                    <li><a href="#">Embedded Systems <span>(2 Weeks)</span></a></li>
                    <li><a href="#">Application Development <span>(2 Weeks)</span></a></li>
                    <li><a href="#">PC Repair <span>(2 Weeks)</span></a></li>
                  </ul>
                </div><!-- /.widget-content -->
              </div><!-- /.widget-categories -->
              <div class="widget widget-posts">
                <h5 class="widget__title">Recent Posts</h5>
                <div class="widget__content">
                  <!-- post item #1 -->
                  <div class="widget-post-item">
                    <div class="widget__post-img">
                      <a href="#"><img src="{% static 'images/ProfilePic7.jpg' %}" alt="product"></a>
                    </div><!-- /.widget-post-img -->
                    <div class="widget__post-content">
                      <span class="widget__post-date">July 09, 2022</span>
                      <h6 class="widget__post-title"><a href="#">Nobody should do internship from a place other than
                          Stratcom.</a></h6>
                    </div><!-- /.widget-post-content -->
                  </div><!-- /.widget-post-item -->
                  <!-- post item #2 -->
                  <div class="widget-post-item">
                    <div class="widget__post-img">
                      <a href="#"><img src="{% static 'images/ProfilePic5.jpg' %}" alt="product"></a>
                    </div><!-- /.widget-post-img -->
                    <div class="widget__post-content">
                      <span class="widget__post-date">July 8, 2022</span>
                      <h6 class="widget__post-title"><a href="#">Good and outstanding premises.</a></h6>
                    </div><!-- /.widget-post-content -->
                  </div><!-- /.widget-post-item -->
                </div><!-- /.widget-content -->
              </div><!-- /.widget-posts -->
              <div class="widget widget-tags">
                <h5 class="widget__title">Tags</h5>
                <div class="widget-content">
                  <ul class="list-unstyled">
                    <li><a href="#">Responsive</a></li>
                    <li><a href="#">Fresh</a></li>
                    <li><a href="#">Modern</a></li>
                    <li><a href="#">Corporate</a></li>
                    <li><a href="#">Business</a></li>
                  </ul>
                </div><!-- /.widget-content -->
              </div><!-- /.widget-Tags -->
            </aside><!-- /.sidebar -->
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
      </div><!-- /.container -->
    </section><!-- /.blog Single -->

    <footer id="footer" class="footer footer-layout1 text-center bg-dark">
      <div class="footer-inner">
        <div class="container">
          <div class="footer-top">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 position-static">

              </div><!-- /.col-lg-12 -->
              <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="contact-box">
                  <h6 class="contact__box-title">Stratcom's Address</h6>
                  <ul class="contact__box-list list-unstyled">
                    <li>Plot 23 Bombo Road, Big building, above UMEME Office and opposite Fuelex</li>
                  </ul>
                </div><!-- /.contact-box -->
              </div><!-- /.col-lg-4 -->
              <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="contact-box">
                  <h6 class="contact__box-title">Working Hours</h6>
                  <ul class="contact__box-list list-unstyled">
                    <li>Monday - Friday: 8:00 am - 8:00 pm</li>
                    <li>Saturday - Sunday: 10:00 am - 5:00 pm</li>
                  </ul>
                </div><!-- /.contact-box -->
              </div><!-- /.col-lg-4 -->
              <div class="col-sm-12 col-md-12 col-lg-4">
                <div class="contact-box">
                  <h6 class="contact__box-title">Contact Us</h6>
                  <ul class="contact__box-list list-unstyled">
                    <li><span>Main Email:</span><a href="stuartmcarthy17@gmail.com">stuartmcarthy17@gmail.com</a></li>
                    <li><span>Phone:</span><a href="tel:0200563765">0200563765</a></li>
                  </ul>
                </div><!-- /.contact-box -->
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
          </div><!-- /.footer-top -->
          <div class="footer-middle">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12 position-static">
                <div class="footer__logo-wrap text-center">
                  <img src="{% static 'images/StratcomLogoRemoved.png' %}" alt="logo" class="footer__logo"
                    style="max-width: 100px;">
                </div>
              </div><!-- /.col-lg-12 -->
            </div><!-- /.row -->
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-6 offset-lg-3">
                <p class="mb-20">
                  Stratcom remains the top place to do your internship simply because of the variety of time options one
                  can
                  choose from and also because it is competely hands on, hence equiping the students with the necessary
                  skillset
                  h in a nutshell is the whole purpose of Internship.
                </p>
                <a href="reservation.html" class="btn btn__primary btn__bordered btn__lg">Let us do your I.T.
                  Project</a>
              </div><!-- /.col-lg-6 -->
            </div><!-- /.row -->
          </div><!-- /.footer-middle -->
        </div><!-- /.container -->
        <div class="footer-bottom">
          <div class="container">
            <div class="row">
              <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="footer__copyright mb-30">
                  <span>&copy; Stratcom UG, Designed by </span>
                  <a href="" class="color-theme">Dayan Allamatti</a>
                </div>
                <ul class="social__icons social__icons-white justify-content-center">
                  <li><a href="#"><i class="fa fa-whatsapp"></i></a></li>
                  <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                  <li><a href="#"><i class="fa fa-phone"></i></a></li>
                  <li><a href="#"><i class="fa fa-github"></i></a></li>
                </ul><!-- /.social__icons -->
              </div>
            </div><!-- /.row -->
          </div><!-- /.container -->
          <svg class="footer__divider-shape-bottom" xmlns="http://www.w3.org/2000/svg" width="142" height="17"
            viewBox="0 0 142 17">
            <path
              d="M800,600V583c8.782,15.985,46.811,11.315,56,12a35.721,35.721,0,0,1,15,5m-71,0V583c-8.782,15.985-46.811,11.315-56,12a35.717,35.717,0,0,0-15,5"
              transform="translate(-729 -583)"></path>
          </svg>
        </div><!-- /.Footer-bottom -->
      </div><!-- /.Footer-inner -->
    </footer><!-- /.Footer -->

    <button id="scrollTopBtn"><i class="fa fa-angle-up"></i></button>

    <div class="search-popup">
      <i class="fa fa-times close-search"></i>
      <form class="module__search-form">
        <input type="text" class="search__input" placeholder="Type Words Then Enter">
        <button class="module__search-btn"><i class="fa fa-search"></i></button>
      </form>
    </div><!-- /.search-popup -->

  </div>
  <!-- /.wrapper -->

  <script>
    function
      call() {
      alert("Call us on +2567639970");
    }

    function apply() {
      alert("Your Internship Placement Request has been sent to Management")
    }
  </script>


  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/plugins.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
</body>

</html>